<p id="notice"><%= notice %></p>

<h1>Anuncios</h1>

<table class="table table-default">
  <thead>
    <tr>
      <th>Name</th>
      <th>Meeting</th>
      <th>Subject</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meets.each do |meet| %>
      <tr>
        <td><%= meet.name %></td>
        <td><%= meet.meeting %></td>
        <td><%= meet.subject %></td>
        <td><%= meet.status %></td>
        <td><%= link_to 'Show', meet %></td>
        <td><%= link_to 'Edit', edit_meet_path(meet) %></td>
        <td><%= link_to 'Destroy', meet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meet', new_meet_path %>
