<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bog" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>


    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->


    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body style="background-color: white">

    <div class="navbar navbar-default navbar-static-top barra-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><strong> Blog de Rails</strong>-<small>Administración</small></a>

        <div class="col-md-2">
          <ul class="nav navbar-nav">
          <li  class="current_page_item"><%= link_to "Menú Publico", root_path  %></li>

        </ul>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <p><i><small>Estas logueado como: <%= current_user.email %></small></i></p>
            <h3>Menú</h3>
            <ul class="nav nav-list">
              <li><%= link_to "Articulos", posts_path  %></li>
              <li><%= link_to "Categorias", categories_path  %></li>
              <li><%= link_to "Comentarios", comments_path  %></li>
              <li><%= link_to "Anuncios", ads_path  %></li>
              <li><%= link_to "Citas", meets_path  %></li>
              <li><%= link_to "SALIR", destroy_user_session_path, method: :delete  %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->
<hr>
      <footer>
        <p>&copy; Company 2017</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
